.menu__toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__toggle .menu__icon-cross {
  display: block;
}

.menu__toggle.js-open-menu .menu__icon-cross {
  display: none;
}


.menu__toggle.js-open-menu .menu__icon-menu {
  display: block;
}




.menu-mobile__link {
  @extend %list;

  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;
  text-decoration: none;
    padding: 32px;
    color: $primary-text-color;
    text-decoration: none;

  &:hover,
  &:focus {
    background-color: $link-hover-color;
  }
}



.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $bg-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

    @media screen and (min-width: 768px) {
      display: none;
    }
}

.menu__container.is-open {
  transform: translateX(0);
}

.menu__container .menu__toggle {
  display: none;

  // position: absolute;
  top: 16px;
  right: 16px;
  color: $bg-color;
}

.menu-mobile {
  padding: 0;
  margin: 0;
  list-style: none;
}