.company {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}

.company__itam {

    @media screen and (max-width: 767px) {
       width: calc((100% - 30px) / 2); 

    }  
}

.company__link {


    display: flex;
    align-items: center;
    justify-content: center;

    fill: $svg-color;
    border: 1px solid $svg-color;
    height: 92px;

    border-radius: 4px;
    cursor: pointer;
    transition: border $time $timing-function, fill $time $timing-function;
   


    &:hover,
    &:focus {
        fill: $link-hover-color;
        border-color: $link-hover-color;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
        height: 92px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
    }
}