.contact {
    @extend %list;
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
    }
}

.contact__item {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: $link-hover-color;
    }

    @media screen and (min-width: 1200px) {
        &:first-child {
            margin-right: 30px;
        }
    }
}

.contact__link {
    @extend %list;
    display: flex;
    align-items: center;

    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: calc(14/12);
    transition: color $time $timing-function;

    color: $title-text-color;

    &:hover,
    &:focus {
        color: $link-hover-color;
    }

    @media screen and (min-width: 1200px) {
        padding: 32px 0;
        font-size: 14px;
        line-height: calc(16/14);
    }
}

.contac__icon {
    margin-right: 10px;
    transition: fill $time $timing-function;

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

.contac__icon-phone {
    margin-right: 10px;
    transition: fill $time $timing-function;

    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}