.features__items {
    @extend %list;
    display: flex;
    justify-content: space-between;
}

.features__image {
    width: 370px;
    position: relative;
}

.features__title {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    padding: 27px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;

    line-height: calc(16/14);
    text-align: center;
    color: $bg-color;
    background-color: rgba(47, 48, 58, 0.8);
    ;
}