.sections--advantages {
    padding-bottom: 0;
}

.advantage {
    @extend %list;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.advantage__list {

    &:not(:first-child) {
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 224px;

        &:not(:first-child) {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 248px;

        &:not(:first-child) {
            margin-top: 0;
        }
    }
}

.advantage__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: $bg-team-color;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.advantage__title {
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        width: 270px;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.advantage__text {
    @extend %list;
    color: $title-text-color;
    line-height: 1.71;
}